h2.article-title #{link_to(question.title, question_path(question))}
.question
  p.question-meta #{pluralize(question.comments.length, 'answer')}. Asked by <strong>#{question.user.name}</strong>

  = render partial: '/tags/tag_list', :locals => { :tags => question.tag_list }
