.business-card data-tags=model.tag_classes
  .business-card-details
    h2 #{link_to(model.title, polymorphic_path(model))}

    = render partial: '/tags/unlinked_tag_list', :locals => { :tags => model.tags }

