.row
  .col-sm-3
    .contractor-sidebar
      p Welcome to the Brick + Beam Contractor List! We provide this list as a public service, and we don't review or endorse any contractors. See our guide on picking a contractor for tips! 
      .ask-a-question #{link_to('Suggest a contractor', new_contractor_path, class: 'btn')}
      =image_tag('wrenchboard-2.png', width: '80%', class: 'decoration hidden-xs')


  .col-sm-9
    .row
      .col-md-12
        =render 'shared/flash', :flash => flash

        .tag-filter.tag-list
          strong Filter contractors by specialty: 
            <a class="tag" data-tag="all">All Contractors</a>
          - for tag in @tags
            a.tag data-tag=tag.id =tag.name
    .row
      .contractor-list
        - for contractor in @contractors
          =render 'shared/business_card', :model => contractor

javascript:
  $(function() {
    function getTagsFromUrl() {
      var tags = window.location.hash;
      if (!tags) { return []; }
      if (tags[0] === '#') { tags = tags.substring(1);}
      return tags.split(',');
    }

    var activeTags = getTagsFromUrl();
    filterContractors();

    function markActive(tagId) {
      $('tag-filter-' + tagId).addClass('active');
      $('[data-tag=' +tagId + ']').addClass('active');
    }

    function removeHash () { 
      history.pushState("", document.title, window.location.pathname
                                                           + window.location.search);
    }

    function updateUrl() {
      if (activeTags.length > 0) {
        window.location.hash = activeTags.join(',');
      } else {
        removeHash();
      }
    }

    function filterContractors() {
      $('.tag-filter a').removeClass('active');
      _.each(activeTags, markActive);

      if (activeTags.length === 0) {
        $('.business-card').fadeIn();
        return;
      }

      // Find contractors that match each
      var tagClasses = '';

      _.each(activeTags, function(tagId) {
        tagClasses += '.tag-' + tagId;
      });

      var $matching = $(tagClasses);
      var $notMatching = $('.business-card:not(' + tagClasses + ')');
      console.log("found", $matching, $notMatching);


      $notMatching.fadeOut();
      $matching.fadeIn();
    }


    function onClickTag(event) {
      event.preventDefault();
      var $target = $(event.target);
      var tag = $target.attr('data-tag');

      if (_.includes(activeTags, tag)) {
        activeTags = _.without(activeTags, tag);
      } else {
        activeTags.push(tag);
      }

      if (tag === 'all') {
        activeTags = [];
      }

      updateUrl();
      filterContractors();
    }

    $('.tag-filter a').on('click', onClickTag);
  });


= content_for :title do
  | Contractors
