/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *xxx require_tree .
 *xxx require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css);

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,300italic,400italic);


$teal: #008c74;
$teal-dark: darken($teal, 30%);
$blue: #004c66;
$purple: #332b40;
$yellow: #f4e138;
$yellow-tark: darken($yellow, 40%);

$warning: #f2d03b;
$pink: #f2d03b;
$green: #8cb202;
$green-dark: darken($green, 45%);

$trans-white: rgba(255, 255, 255, 0.8);
$gray: #8a8786;
$body: #333;
$body-mild: darken($teal, 40%);

$border-color: $gray;
$link-color: $blue;

$serif: 'PT Serif', serif;
$open: 'Open Sans', 'PT Sans', sans-serif;
$pt: 'PT Sans', sans-serif;
$sans: $open;

$size-body: 15px;
$size-md: 18px;
$size-lg: 20px;
$size-xl: 40px;


$radius: 4px;
$transition: 0.3s;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $sans;
  font-size: $size-body;
  font-weight: 300;

  color: $body-mild;
  background: #fff;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

h2 {
  font-family: $sans;
  font-size: $size-xl;
  font-weight: 300;
}

h2.article-title {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: $size-xl;
}

h4 {
  font-size: $size-body;
  font-weight: 300;
}

p {
  font-family: $serif;
  font-size: $size-body;
  line-height: 1.61;

  a {
    border-bottom: 1px solid $link-color;
  }
}

p.byline {
  font-family: $sans;
  font-weight: 300;
  color: $body;
  margin-top: 3px;
  line-height: 1.5;
}

a {
  color: $link-color;

  &:focus,
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid $link-color;
    transition: $transition ease;
  }
}

label {
  font-weight: 500;
}

.btn, .btn-primary {
  font-family: $sans;
  color: $body;
  border-radius: 0;
  border: 1px solid $body;
  padding: 6px 10px;
  background: transparent;
}

.btn-primary {
  color: #fff;
  background: $green;
  border: 1px solid $green;
}

.btn-primary:active,
.btn-primary:hover,
.btn:active,
.btn:hover {
  transition: $transition ease;
  background: $green;
  color: #fff;
  border-color: $green;
}


.btn-primary:active,
.btn-primary:hover {
  background: darken($green, 10%);
  border-color: darken($green, 10%);
  color: #fff;
}


.invert {
  .btn, .btn-primary {
    border-color: #fff;
    color: #fff;
  }

  .btn-primary:active,
  .btn-primary:hover,
  .btn:active,
  .btn:hover {
    background: $green;
    color: #fff;
    border-color: $green;
  }
}

img.decoration {
  opacity: 0.2;
  display: inline-block;
  margin-top: 20px;
}

.placeholder {
  background: #eee;
  height: 300px;
  line-height: 300px;
  font-size: $size-lg;
  font-family: $sans;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;

  &.news {
    border-radius: $radius;
  }
  &.map {
    background: lighten($yellow, 30%)
  }
  &.signup {
    height: 100px;
    line-height: 100px;
  }
}

.btn-default {
  color: darken($teal, 40%);
  border-color: darken($yellow, 20%);
  background: darken($yellow, 10%);
  text-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-primary {
  background: darken($yellow, 10%);
}

.btn-edit {
  color: $body;
}

.topbar {
  background: #fff;
  line-height: 1.2;
  padding: 15px 0 0;

  .user-info {
    text-align: right;

    a,
    a:hover,
    a:active,
    a:visited {
      border-bottom: 1px solid $blue;
    }
  }
}

header,
footer {
  h1 a {
    display: inline-block;

    width: 100%;
    height: 120px;
    padding: 0;

    text-indent: -9999px;

    background: transparent image-url("bbd_logo2.png") no-repeat center center;
    background-size: contain;
  }

  h1 a:hover,
  h1 a:active,
  h1 a:focus {
    border: 0px none;
  }
}

header {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

/* Navigation */
header .nav,
footer .nav {
  text-align: center;

  li {
    font-size: $size-lg;

    display: inline-block;
  }

  a,
  a:focus,
  a:hover,
  a:active {
    color: #666;
    background: transparent;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 0;
    margin: 10px 15px;
  }

  a:hover {
    color: darken($green, 5%);
    background: none;
    border-bottom: 1px solid $green;
  }
}

.resources-panel,
.content-panel {
  .related-articles {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

.sidebar .in {
  padding-right: 20px;

  .resource-category {
    h2.broad-section {
      font-size: $size-md;
      font-weight: 700;
      margin-bottom: 0;
    }

    h3 {
      font-size: $size-md;
      font-weight: 300;
      margin-top: 10px;
    }

    h3.specific-section {

    }

    h3.active {
      color: $pink;
    }

    li {
      list-style: none;
    }

    ul.subnav {
      margin-bottom: 20px;
    }
  }

  img {
    opacity: 0.6;
  }
}

.events-panel {
  padding-bottom: 100px;

  .event {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}

.news-panel {
  // background: lighten($yellow, 5%);
  padding-top: 30px;

  .news-header {
    color: $green-dark
  }

  .piece {
    position: relative;
    cursor: pointer;

    .details {
      font-size: $size-md;

      position: absolute;
      bottom: 0px;

      width: 100%;
      margin-bottom: 0;

      opacity: 1.0;

      .in {
        //margin: 20px;
        padding: 20px;

        //border-radius: $radius;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        background: $green;

        h2.news-type {
          font-size: 18px;
          font-weight: 700;

          margin-top: 0;
          margin-bottom: 3px;
        }

        h3 {
          font-size: $size-md;
          margin: 0;
        }
      }
    }

    .block {
      width: 100%;
      height: 0;
      margin-bottom: 30px;
      padding-bottom: 100%;

      cursor: pointer;

      opacity: 0.9;
      border-radius: $radius;
      background-color: $green;
      background-size: cover;

      &.text {
        background-color: $pink;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }

    &:hover {
      .block {
        opacity: 1.0;
      }
    }
  }
}

.section-panel {
  padding: 70px 0 70px 0;
  margin-bottom: 70px;
  background: $purple;


  p {
    font-family: $sans;
    margin-top: 1em;
    font-size: $size-body;
  }

  h2.section-head {
    margin: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;

    a,
    a:visited,
    a:hover,
    a:active {
      color: #fff;
      text-decoration: none;
      border-bottom: 0px none;
    }
  }
}

.page {
  h4 {
    font-size: $size-body;
    font-weight: 700;
    color: $body;
    margin-top: 2em;
  }

  li {
    font-family: $serif;
    margin-bottom: 1em;
    margin-left: 1em;
    list-style-position: outside;
    font-size: $size-body;
  }
}

.email-panel {
  padding: 15px;

  text-align: center;

  border-top: 5px solid lighten($teal, 10%);
  border-bottom: 5px solid lighten($teal, 10%);
  background: $teal;

  h2.email-signup {
    font-size: $size-lg;
    font-weight: 200;

    margin-top: 0;

    color: $teal-dark;
  }
}

.homepage-resources-panel {
  padding-top: 100px;
  padding-bottom: 100px;

  background: $teal; // lighten($teal, 30%); // url(../img/fullboard-t.png) no-repeat center center;
  background-size: 100%;

  h2 {
    margin-top: 0;
  }

  .container {
    //background: lighten($teal, 30%);
  }

  .strong {
    font-weight: 800;
  }
}

.forum-prompt-panel {
  position: fixed;
  z-index: 9999;
  right: 50px;
  bottom: 0;

  width: 275px;
  padding: 15px 15px;

  cursor: pointer;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $yellow;

  h2.rehab-prompt {
    font-size: $size-lg;
    font-weight: 700;

    margin: 0;

    color: #fff;
    color: $body;
  }

  .rehab-call-to-action {
    display: none;
    font-family: $sans;
    padding-top: 15px;

    p {
      font-family: $sans;
    }

    a.rehab-link,
    a.rehab-link:hover,
    a.rehab-link:active,
    a.rehab-link:focus, {
      display: inline-block;
      padding: 4px 8px;
      background: $yellow;
      border: 1px solid $body;
    }
  }

  &:hover {
    .rehab-call-to-action {
      display: block;
    }
  }
}

footer {
  background: $green;
  padding: 20px 0px;

  h1 {
    margin-bottom: 30px;
  }

  .nav {
    margin-bottom: 20px;

    a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }

  .footer-nav,
  .footer-links {
    text-align: center;
  }

  .footer-links {
    margin: 40px 0 0;
  }

  .footer-links.social-links {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
  }

  .footer-logos {
    display: table;
    text-align: center;
    width: 100%;
  }

  .footer-logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
    }

    a {
      display: inline-block;
      margin: 0px 8px;
      &:hover {
        border-bottom: 0px none;
      }
    }
  }

  h2 {
    font-size: $size-md;
    text-align: left;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

@import 'devise';
@import 'polaroid';
@import 'frame';

@import 'front';
@import 'pages';
@import 'events';
@import 'questions';
@import 'resources';
@import 'sites';
@import 'users';
@import 'tags';

