// Grid layout on the main contractor page
.contractor-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  // justify-content: space-between;

  .business-card {
    display: flex; // so the inner border will grow
    // flex: 1;
    //margin: 10px;
    width: 30%;
    margin: 1%;

    .business-card-details {
      flex: 1; // so the inner border will grow
    }
  }


  @media (min-width:1150px)  { 
    .business-card:nth-of-type(3n) {
    //  margin-right: 0;  
    }
    .business-card:nth-of-type(3n+1) {
    //  margin-left: 0; 
    }
  }

  
  @media (max-width:1150px)  { 
    .business-card {
      width: 48%;
      margin: 1%
    }
    .business-card:nth-of-type(2n) {
    // margin-right: 0;  
    }
    .business-card:nth-of-type(2n+1) {
    //  margin-left: 0; 
    }
  }


  @media (max-width:768px)  { 
    .business-card {
      width: calc(50% - 15px);
      margin: 0 10px 10px 0px;
    }
    .business-card:nth-of-type(2n) {
    //  margin-right: 10px;  
    }
    .business-card:nth-of-type(2n+1) {
    //  margin-left: 10px; 
    }
  }

  @media (max-width:480px)  { 
    .business-card {
      width: calc(100% - 15px);
      margin: 0 10px 10px 10px;
    }
    .business-card:nth-of-type(2n) {
    // margin-right: 10px;  
    }
    .business-card:nth-of-type(2n+1) {
     // margin-left: 10px; 
    }
  }
 
}

.contractors-panel {
  .add-a-contractor a {
    color: #fff;
    background-color: $green;
    font-weight: 700;
    border: 0px none;

  }
  .add-a-contractor + a { 
    display: inline-block;
    margin-top: 1em;
  }
}


.contractor {
  margin-bottom: 5em;
  overflow: auto;

  p.featured {
    padding: 10px;
    border-top: 7px solid $green;
    text-align: center;
    font-family: $sans;
    font-weight: 700;
    color: #5e9200;
  }

  .caption,
  .photo {
    border: 3px double #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }

  .photo + .caption {
    background-color: #f9f9f9;
    font-style: italic;
    margin-top: -10px;
    padding-bottom: 0;
    border-top: 0px none;
  }

}

.contractor-sidebar {
  margin-bottom: 2em;

  .related-tags {
    margin-bottom: 2em;
  }

}

.tag-filter {
  margin-bottom: 1em;
  a.tag {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
  }
}


.index-card,
.business-card { 
  text-align: center;
  background: #fffded;
  overflow: auto;
  margin-bottom: 20px;
  border-top: 7px solid #f2d03b;

  .index-card-details,
  .business-card-details {
    margin: 5px; 
    padding: 15px 10px 10px 10px;

    h2 {
      font-size: $size-lg;
      font-weight: 300;
      // font-family: $serif;
    }

    .city {
      padding-top: 0.5em;
    }
  }
}


.business-card {
  .tag-list {
    .tag {
      background: transparent;
      color: $body;
      display: inline-block;
      padding-left: 0;

      &:not(:last-child)::after {
        padding-left: 6px;
        padding-right: 6px;
        content: '\2022'
      }
    }
  }
}


.related-contractors h3 {
  margin-bottom: 0.5em;
}


// Index card specific styles
.index-card {
    //background-color: $flat-blue;
}

.index-card .index-card-details {
  font-size: $size-md;
  font-weight: 400;

  color: $body-mild;

  a,
  a:hover,
  a:active,
  a:visited,
  .index-card-details .tag-list .tag {
  //  color: #fff;
  }

  a:hover,
  a:active,
  a:visited {
   // border-bottom: 1px solid #fff;
  }

  h2 {
    font-size: $size-xl;
    margin: 0.25em 0;
  }

  .tag-list {
    margin-bottom: 0.5em;
  }

  .city {
    margin: 0.5em 0; 
    text-transform: uppercase;
    font-size: $size-body;
  }

  .field,
  .field .name,
  .field .value {
    display: inline-block;
  }

  .field {
    padding: 0px 8px 0 0 ;
  }

  .field:not(:last-child)::after {
    padding-left: 8px;
    content: '\2022'
  }
}

.index-card.featured,
.business-card.featured {
  border-top-color: #5e9200;
  background-color: #8cb202;
  color: #fff;

  .tag-list .tag {
    // color: #fff;
  }

  a,
  a:link,
  a:active,
  a:visited {
    color: #fff;
  }

  .index-card-details {
    color: #fff;
  }

  h2 {
    color: #fff;
    a,
    a:link,
    a:active,
    a:visited {
      color: #fff;
    }
  }
  .city {
    font-weight: 700;
  }
}

