// Grid layout on the main contractor page
.contractor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .business-card {
    display: flex; // so the inner border will grow
    flex: 1;
    margin: 10px;
    min-width: 270px;

    .business-card-details {
      flex: 1; // so the inner border will grow
    }
  }
}

.contractor-sidebar {
  margin-bottom: 2em;
}

.tag-filter {
  margin-bottom: 1em;
  a.tag {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
  }
}


.index-card,
.business-card { 
  text-align: center;
  background: #eee;
  overflow: auto;
  margin-bottom: 20px;

  .index-card-details,
  .business-card-details {
    border: 1px solid #fff;
    margin: 5px; 
    padding: 15px 10px 10px 10px;

    h2 {
      font-size: $size-lg;
      font-weight: 500;
      font-family: $serif;
    }

    .tag-list {
      .tag {
        background: transparent;
        color: $body;
        display: inline-block;
        padding: 0 0.5em;
      }
    }
  }
}

.related-contractors h3 {
  margin-bottom: 0.5em;
}

.index-card .index-card-details {
  font-size: $size-md;

  h2 {
    font-size: $size-xl;
    margin: 0.25em 0 0.5em;
  }

  .tag-list {
    margin-bottom: 0.5em;

    .tag:not(:last-child) {
      display: inline-block;
      padding-right: 20px;
    }
  }

  .city {
    margin: 0.5em 0; 
    text-transform: uppercase;
    font-size: $size-body;
  }

  .field,
  .field .name,
  .field .value {
    display: inline-block;
  }

  .field {
    padding: 0px 8px 0 0 ;
  }

  .field:not(:last-child)::after {
    padding-left: 8px;
    content: '\2022'
  }
}


// TODO:
/*
.list
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
    .list__item
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
*/
