@import 'variables';

.frame {
  background: $blue;
  overflow: auto;

  .frame-in {
    color: #fff;
    margin: 10px;
    padding: 20px;
    border: 1px solid #fff;

    a, a:hover {
      color: #fff;
    }

    h2 {
      margin-bottom: 20px;
    }

    input.form-control {
      border: 0px none;
      border-radius: 0;
      color: $body;
    }

    .btn-primary {
      color: #fff;
      border: 1px solid $green;

      &:hover {
        border-color: $green;
      }
    }

    .f-login-btn {
      display: inline-block;
      margin-bottom: 10px;
      border: 1px solid #fff;
      padding: 4px 8px;

      &:hover,
      &:active,
      &:focus {
        background: $yellow;
        border-color: $yellow;
        color: $body;
        transition: $transition ease;
      }
    }
  }
}
