.welcome {
  background: transparent #{image-url('photos/bank.jpg')} no-repeat center center;
  background: transparent #{image-url('photos/house-a.jpg')} no-repeat center center;
  background: transparent #{image-url('photos/house-b.jpg')} no-repeat center center;
  background: transparent #{image-url('photos/brixels.jpg')} no-repeat center center;
  background-size: cover;
  padding: 50px 0;
}


$panel-back: $blue;
$panel-highlight: #fff;
.panel-front {
  color: #fff;
  //border: 1px solid #fff;
  background: $panel-back;
  overflow: hidden;

  /*
  .btn {
    border-color: $green;
    color: $green;
  }
  */

  .intro {
    .intro-in {
      margin: 10px 10px 0 10px;
      padding-top: 40px;
      border: 1px solid $panel-highlight;
      border-width: 1px 1px 0 1px;
    }

    text-align: center;

    h1 {
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
    }
  }

  .homepage-heroes {
    .homepage-heroes-in {
      margin: 0px 10px 10px 10px;
      border: 1px solid $panel-highlight;
      border-width: 0px 1px 1px 1px;
    }
  }

  .hero {
    padding: 30px;

    h2 {
      font-size: 20px;
    }
  }
}

.front {
  h2.section-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  #sites-map {
    height: 450px;
  }
}

.front-questions {
  background: $purple;
  color: #fff;
  padding: 0 0 80px;
  margin-top: 80px;

  p {
    font-size: $size-lg;
  }

  .img {
    text-align: center;
    img {
      display: inline-block;
    }
  }

  .ask {
    text-align: center;
    margin-bottom: 25px;
  }

  .question {
    h2.article-title {
      font-size: $size-body;
      font-weight: 700;
      line-height: 1em;
      margin-bottom: 1em;

      a {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.homepage-sites h2 a,
.homepage-resources h2 a {
  border-bottom: 1px solid $blue;
}

.email-signup {
  margin: 80px 0;
  text-align: center;

  h2.section-title {
    margin-bottom: 10px;
  }

  #mc_embed_signup {
    display: inline-block;
    text-align: left;

    #mce-responses {
      display: inline-block;
   }

    .mc-field-group {
      display: inline-block;
      margin-right: 15px;

      label {
        display: block;
      }

      input {
        border-radius: 0;
        border: 0px none;
        box-shadow: none;
        border-bottom: 2px solid darken($green, 10%);
        width: 300px;
        font-weight: 700;

        &:placeholder-shown {
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
  }
}

