/*
How these work:

.polaroid
  .polaroid-photo (background image)
    .polaroid-frame
  .polaroid-details
    (your content here)
*/

.polaroid {
  position: relative;
  height: 340px;
  margin: 0px 10px 30px;
  // border: 10px solid #fff
  overflow: hidden;

  .polaroid-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 340px;
    width: 100%;
    background-image: image-url("missing-1.png");
    background: $blue;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;

    .polaroid-frame {
      border: 1px solid #fff;
      margin: 10px 10px 10px 10px;
      height: 320px;
    }
  }

  .polaroid-details {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: calc(100% - 10px);
    padding: 20px 25px;

    h2 {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 1px;
      margin-left: 0.2em;
      // color: #fff;
      // text-shadow: 0px 0px 10px rgba(0,0,0,0.9);

      a,
      a:hover,
      a:active {
        line-height: 1.45em;
        background: #fff;
        box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff;
        border: 0px none;
      }
    }

    .tag-list {
      margin-top: 0;
    }
  }
}
