// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-related-section .question {
  h2.article-title {
    font-size: 24px;
    line-height: 1.45;
    a {
      border-bottom: 1px solid $link-color;
    }
  }
  @meda
}

.questions-panel {
  margin-bottom: 50px;

  .section-panel {
    p {
      color: #fff;
      font-size: $size-md;
      font-family: $serif;
      text-align: left;
    }
  }

  .related-questions {
  margin-top: 35px;
    h3 {
      font-weight: 500;
    }

    h4 {
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 20px;

      a {
        border-bottom: 1px solid $link-color;
      }
    }
  }

  .question span.no-answers {
    background: $yellow;
    padding: 0px 5px;
    display: inline-block;
    margin-right: 0.25em;
  }

  .page {
    padding: 40px;
    background: #fff;
    border: 1px solid darken($yellow, 20%);

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .ask-a-question a {
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    border-color: $green;
    background: $green;
    margin-bottom: 35px;

    &:hover {
      background: #fff;
      color: $green;
      border-color: $green;
    }
  }

  h2.article-title {
    margin-bottom: 10px;
    font-size: 30px;
    a:hover {
      text-decoration: none;
    }
  }

  h3.comment-intro {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3.sign-in {
    a {
      border-bottom: 1px solid $link-color;
    }
  }

  .question,
  .comment {
    margin-bottom: 30px;
  }

  .question-meta,
  .comment-meta {
    border: 1px solid #eee;
    border-width: 1px 0;
    padding: 5px 0;
  }

  .question-meta,
  .comment-meta {
    font-family: $sans;

    .byline {
      font-weight: 700;
      a {
        border-bottom: 1px solid $link-color;
      }
    }
  }

  .question-meta {
    text-align: left;
    margin-top: 10px;
  }

  .comment-text {
    padding-bottom: 30px;
  }
}
