.resources-panel {
  background: lighten($pink, 43%);
  background: lighten($kraft, 40%);

  h2.article-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lighten($gray, 20%);
  }

  .page {
    padding: 40px;
    background: #fff;
    border: 1px solid darken(#f0e3d1, 10%);
  }

  .resource {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .resource-photo {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 8px;
  }

  .resource-attachments h3 {
    margin-top: 1em;
  }

  .resource-photo.missing-1,
  .resource-photo.missing-2,
  .resource-photo.missing-3,
  .resource-photo.missing-4 {
    opacity: 0.5;
    background-size: contain;
  }

  .resource-photo.missing-1 {
    background-image: url(asset_path('missing-1.png'));
  }
  .resource-photo.missing-2 {
    background-image: url(asset_path('missing-2.png'));
  }
  .resource-photo.missing-3 {
    background-image: url(asset_path('missing-3.png'));
  }
  .resource-photo.missing-4 {
    background-image: url(asset_path('missing-4.png'));
  }

  img.resource-image {
    display: block;
    margin-bottom: 15px;
  }

  .related-resources .polaroid {
    height: 200px;
  }
}

.resource-sidebar {
  h2 {
    font-weight: 700;
    font-size: 16px;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-weight: 300;
    font-size: 18px;

    a {
      color: $body-mild;
    }
  }

  .broad-topic {
    margin-bottom: 35px;
  }
}

.resource-tag-list {
  margin-bottom: 6px;
}

.resource-photo {
  height: 150px;
  background-size: cover;
  margin-bottom: 8px;
}

