// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brag-panel {
  position: relative;
  padding-top: 0;
  padding-bottom: 50px;

  color: darken($yellow, 50%);
  background: lighten($yellow, 30%);

  .add-your-brag {
    text-align: center;
    font-size: 20px;
    padding: 20px;

    a {
      font-weight: 700;
      color: darken($pink, 30%);
      border-bottom: 1px solid darken($pink, 30%);

      &:hover {
      }
    }
  }

  #brag-map {
    height: 500px;
  }

  #site-map {
    height: 300px;
  }

  #sites-map {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    background: lighten($yellow, 30%);
    height: 500px;
  }

  .site {
    // padding: 15px;
    // background: lighten($yellow, 35%);
    // border-radius: $radius;
  }

  .site-user {
    font-size: 16px;
    font-weight: 700;
  }

  .site-photo {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;

    &.missing {
      background-size: contain;
      opacity: 0.7;
    }
  }

  .site-details {
    padding-top: 70px;

    h2.article-title {
      margin-bottom: 50px;
    }

    img.site-photo {
      display: block;
      margin-bottom: 50px;
    }

    .project-list {
      padding-bottom: 20px;

      h3 {
        margin-top: 50px;
      }

      .project {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dotted $gray;
        h4.project-details {
        }
      }
    }
  }

}
