.brag-panel {
  position: relative;
  padding-top: 0;
  padding-bottom: 50px;

  color: darken($yellow, 50%);
  background: #fff;

  color: #333;

  .page {
    padding: 40px;
    background: #fff;
    border: 1px solid darken($yellow, 20%);

    h2 {
      text-align: center;
    }
  }

  form {
    label {
      margin-top: 1em;
    }

    textarea.form-control,
    select.form-control,
    input.form-control {
      border-radius: 0;
    }

    h3 {
      margin-top: 30px;
    }
  }

  .brag-head {
    background: $green;
    text-align: center;
    padding: 50px 0;
    overflow: auto;

    h2 {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 700;
      a {
        color: $yellow !important;
      }
    }

    p {
      font-family: $serif;
      font-size: $size-md;
    }
  }

  #brag-map {
    height: 500px;
  }

  #site-map {
    height: 300px;
    margin-bottom: 1em;
  }

  #sites-map {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    background: lighten($yellow, 30%);
    height: 700px;
  }

  .map-tools {
    text-align: center;
    margin-bottom: 20px;

    .dropdown {
      display: inline-block;
      text-align: left;

      .dropdown-toggle {
        border-radius: 20px;
        margin: 0px 5px;
      }
    }
  }

  .site-details {
    padding-top: 70px;

    h2.article-title {
      margin-bottom: 50px;
    }

    img.site-photo {
      display: block;
      margin-bottom: 50px;
    }

    .project-list {
      padding-bottom: 20px;

      h3 {
        margin-top: 50px;
      }

      .project {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dotted $gray;
        h4.project-details {
        }
      }
    }
  } // end site details
}


.site {
    background: $green;

  .site-info {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.sites-list .site-photo {
  &.missing {
    background-size: contain;
    opacity: 0.7;
  }
}

