.brag-panel {
  position: relative;
  padding-top: 0;
  padding-bottom: 50px;

  color: darken($yellow, 50%);
  background: #fff;

  color: #333;

  .section-panel {
    margin-bottom: 0;
  }

  .page {
    padding: 40px;
    margin-top: 40px;
    background: #fff;
    border: 1px solid darken($yellow, 20%);

    h2 {
      text-align: center;
    }
  }

  form {
    label {
      margin-top: 1em;
    }

    label.tag {
      margin-top: 0;
    }

    textarea.form-control,
    select.form-control,
    input.form-control {
      border-radius: 0;
    }

    .tag-prompt {
      font-family: $sans;
      font-size: 0.9em;
    }

    .geocoding-error,
    .add-an-address-warning {
      display: none;
      padding: 2px 5px;
      background: $warning;
    }

    h3 {
      margin-top: 30px;
    }

    .address-search {
      margin-bottom: 5px;

      #address-search {
        width: 300px;
        display: inline-block;
      }

      .btn {
        margin-top: -2px;
        border-color: #eee;
        background: #eee;

        &:hover {
          background: $green;
          border-color: $green;
        }
      }
    }
  }

  .brag-head {
    background: $green;
    text-align: center;
    padding: 50px 0;
    overflow: auto;

    h2 {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 700;
      a {
        color: $yellow !important;
      }
    }

    .btn {
      font-size: $size-lg;
    }

    p {
      font-family: $serif;
      font-size: $size-md;
      text-align: left;
    }
  }

  #brag-map {
    height: 500px;
  }

  #site-map {
    height: 300px;
    margin-bottom: 1em;
  }

  #sites-map {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
    background: lighten($yellow, 30%);
    height: 700px;
  }

  .bragPopup .leaflet-popup-content {
    font-size: $size-lg;
    font-family: $sans;

    a,
    a:hover,
    a:active,
    a:visited {
      color: $blue;
      border-bottom: 1px solid $blue;
      text-decoration: none;
    }
  }

  .map-tools {
    text-align: center;
    margin-bottom: 20px;

    .dropdown {
      display: inline-block;
      text-align: left;

      .dropdown-toggle {
        border-radius: 20px;
        margin: 0px 5px;
      }
    }

    .dropdown-menu li a,
    .dropdown-menu li a:hover,
    .dropdown-menu li a:active {
      cursor: pointer;
      border: 0px none;
    }
  }

  .site-details {
    padding-top: 40px;

    .btn-edit {
      margin-bottom: 10px;
    }

    .add-a-brag a {
      padding: 8px 16px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      border-color: $green;
      background: $green;
      display: inline-block;
      margin-bottom: 35px;

      &:hover {
        color: $green;
        background: #fff;
        border-color: $green;
      }
    }

    .site-intro {
      margin-bottom: 30px;

      h2, h3 {
        text-align: center;
      }
    }

    h3.byline {
      margin-bottom: 20px;
    }

    img.site-photo {
      display: block;
      margin-bottom: 20px;
    }

    .project-list {
      padding-bottom: 20px;

      h3 {
        margin-top: 30px;
      }

      .project {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dotted $gray;
        h4.project-details {
        }
      }
    }
  } // end site details

  .edit-site {
    margin-top: 50px;

    a {
      border-bottom: 1px solid $link-color;
    }
  }
}


.site {
  //background: $blue;

  .site-user,
  .site-title {
  }

  .polaroid-photo {
    opacity: 1;
  }
}

.sites-list .site-photo {
  &.missing {
    background-size: auto 50%;
  }
}

