@import "config";

$tag-background: $blue;

.tag-list {
  margin-top: 10px;

  a.tag {
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    display: inline-block;
    border: 0 none;
    background: $tag-background;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;

    &:hover {
      background: darken($blue, 5%);
      transition: $transition ease;
    }

    &.active {
      background: $yellow;
      color: $body;
      transition: none;
    }
  }
}

.tags-panel {

  h2.article-title {
    margin-bottom: 10px;
  }

  .tag-related-section {
    padding-bottom: 25px;

    .question {
      margin-bottom: 2em;

      .question-meta {
        display: none;
      }
    }
  }
}

.tag-sidebar {
  border-left: 1px solid $border-color;
  padding-left: 30px;
  margin-bottom: 30px;

  .tag-list {
      margin-bottom: 35px;
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-weight: 300;
    font-size: 18px;

    a {
      color: $body-mild;
    }
  }

  .broad-topic {
    margin-bottom: 35px;
  }

  p {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: $size-md;
    font-family: $sans;
  }
}


form {
  label.tag {
    font-weight: 500;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    background: $tag-background;
    color: #fff;
    padding: 5px 8px 5px 5px;

    input {
      display: inline-block;
      margin-right: 6px;
    }
  }
}


.related-resources {
  h3 {
    margin: 1em 0 0.5em;
  }

  .question {
    margin-bottom: 2em;

    h2.article-title {
      font-size: $size-md;
      margin-bottom: 0.25em;
    }

    p {
      margin-bottom: 0.25em;
    }

    .tag-list {
      margin-top: 0;
    }
  }
}

