$tag-background: lighten($pink, 10%);

.tag-list {
  margin-top: 10px;

  a.tag {
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    display: inline-block;
    border: 0 none;
    background: $tag-background;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;

    &:hover {
      background: $pink;
      transition: $transition ease;
    }
  }
}

.tags-panel {
  padding-top: 50px;

  h2.article-title {
    margin-bottom: 10px;
  }

  .tag-related-section,
  .resource {
    padding-bottom: 50px;
  }
}

form {
  label.tag {
    font-weight: 500;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 2px;
    cursor: pointer;
    // background: lighten($pink, 30%);
    // color: darken($pink, 25%);
    padding: 5px;

    input {
      display: inline-block;
      margin-right: 6px;
    }
  }
}
