$tag-background: $blue;

.tag-list {
  margin-top: 10px;

  a.tag {
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    display: inline-block;
    border: 0 none;
    background: $tag-background;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;

    &:hover {
      background: darken($blue, 5%);
      transition: $transition ease;
    }
  }
}

.tags-panel {

  h2.article-title {
    margin-bottom: 10px;
  }

  .tag-related-section,
  .resource {
    padding-bottom: 50px;
  }
}

.tag-sidebar {
  border-left: 1px solid $border-color;
  padding-left: 30px;
}

form {
  label.tag {
    font-weight: 500;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    background: $tag-background;
    color: #fff;
    padding: 5px 8px 5px 5px;

    input {
      display: inline-block;
      margin-right: 6px;
    }
  }
}
