.users-panel {
  padding-bottom: 50px;

  h2 {
    font-size: 24px;
  }

  h2.article-title {
    font-size: 30px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .polaroid,
  .polaroid-photo {
    height: 200px;

    .polaroid-frame {
      height: 180px;
    }
  }

  .subscriptions {
    padding: 0 30px;
  }

  .question {
    margin: 8px 0 10px;
  }

  .contact-user-form {
    margin-bottom: 20px;
    textarea {
      width: 100%;
    }
  }

  .edit-user-account {
    background: $teal;
    margin-bottom: 10px;
    color: #fff;

    h3 {
      margin-bottom: 5px;
    }
  }


  /* User form */
  .flash-messages {
    padding: 20px 20px 15px 20px;
    margin-bottom: 15px;
    color: $body;
    background: $yellow;
  }
  .frame .new_user .form-group label a {
    border-bottom: 1px solid #fff;
  }

}
