.users-panel {
  padding-bottom: 50px;

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .subscriptions {
    padding: 0 30px;
  }

  .question {
    margin: 8px 0 10px;
  }

  .contact-user-form {
    margin-bottom: 20px;
    textarea {
      width: 100%;
    }
  }


  h3 {
    margin-bottom: 5px;
  }

  .edit-user-account {
    background: $teal;
    margin-bottom: 10px;
    color: #fff;

    h3 {
      margin-bottom: 5px;
    }
  }
}
